.footer_main {
    width: 100vw;
    max-width: 100%;
    height: max-content;

    padding: 30px 0 60px 0;

    background-color: #000000;
}

.footer_container {
    max-width: 1400px;
    height: max-content;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer_row {
    max-width: 327.5px;
    height: max-content;
    padding: 0 15px 0 15px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.footer_row_title {
    padding-top: 30px;

    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.footer_row_links {
    font-size: 16px;
    line-height: 21px;
    color: #a6a9ad;

    padding-top: 18px;
    text-decoration: none;
}

.footer_row_links span {
    font-size: 16px;
    line-height: 21px;
    color: #fff;

}


.sponsors {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
}


#iticket_logo_sponsors {
    height: 42px;
    width: 87px;
}

#fusionWorks_logo_sponsors {
    height: 32px;
    width: 130px;
}

.social_media {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;
}
.social_media a {
    margin-right: 18px;
}




@media only screen and (max-width: 1000px){
    .visa_verified,
    .mastercard_secure {
        display: none;
    }

    .credit_card_issuers img {
        margin-left: 10px !important;
    }

    .copyright_main {
        height: max-content;
    }

    .copyright_container {
        padding: 0 16px 0 16px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 950px) {
    .footer_container {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .footer_row {
        min-width: 50%;
        flex-wrap: wrap;
        box-sizing:border-box;
    }


}

@media only screen and (max-width: 630px) {
    .footer_container {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .footer_row {
        max-width: 50%;
        flex-wrap: wrap;
        box-sizing:border-box;
    }


}

@media only screen and (max-width: 480px) {
    .sponsors {
        display: block;
    }

    #support\.phone, 
    #support\.email {
        inline-size: max-content;
    }

}