* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.top_of_the_page {
    background-color: white;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.header_container {

    max-width: 1400px;
    height: 90px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;


    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;




}

.header_elements {
    display: grid;
    grid-auto-columns: min-content;
    grid-template-areas: "search address language user cart";
    grid-column-gap: 20px;


    align-items: center;

}

#parent_empty {
    display: flex;
}

#empty_space {
  max-width: 148px;
  min-width: 20px;
  flex: 1 1 250px;

}

.logo {
   margin-right: auto;
}


.search_bar {
    grid-area: search;
    justify-self: end;
}

.address_pointer {
    grid-area: address;
    justify-self: end;
}

.language_pointer {
    grid-area: language;
    justify-self: end;
}

.user_pointer {
    grid-area: user;
    justify-self: end;
}

.cart {
    grid-area: cart;
    justify-self: end;
}


.header_container img {
    width: 102px;
    cursor: pointer;
}

.search_bar,
.address,
.language,
.user_profile {
    position: relative;
    width: 355px;
    height: 50px;
    margin-left: auto;
}



.search_box {
    width: 252px;
    height: 46px;

    display: flex;
    flex: 1 1 auto;

    position: relative;
    border: 2px solid #fafafa;
    border-radius: 8px;
    padding-left: 46px;
    padding-right: 48px;
    cursor: text;
    background: #fafafa;
    outline: 0;
}

.search_box:hover {
    border: 2px solid #e5e5e5;
}

.search_icon {
    width: 48px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    left: 1;
    top:0;
}

.search_icon img {
    width: 21px;
    height: 20px;

}

.address {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex;
    border-radius: 8px;
    background: #fafafa;
}

.address_pointer {
    cursor: pointer;
}


.address:hover {
    background: #F0F0F0;
}

.user_address {
    line-height: 20px;
    font-size: 1rem;
}

.location_icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location_icon img {
    width: 20px;
    height: 20px;

}

.language > * {
    cursor: pointer;
}

.language {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 8px;
}
.language_pointer {
    cursor: pointer;
}
.language:hover {
    background: #F0F0F0;
}

.user_profile {
    width: 77px;
    height: 50px;
    padding: 0 43px 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

   

    background-color: #fafafa;
    border-radius: 8px;
}

.user_pointer {
    cursor: pointer;
}

.user_profile > * {
    cursor: pointer;
}

.user_profile:hover {
    background: #F0F0F0;
}


.user_profile img {
    width:24px;
    height: 24px;

}

.cart {
    width: 107px;
    height: 50px;
    padding: 0px 43px 0px 20px;
    background-color: #e1f5eb;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    
}

.cart button img {
    width: 24px;
    height: 24px;

}

.cart button {
    width: 168px;
    height: 50px;
    outline: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    color: #19ac4b;

    background-color: #e1f5eb;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {

    

    .header_container,
    .header_elements {
        max-width: 1140px;;
    }
    
    .search_bar {
        width: 291px;
    }

    .search_box{
        width: 193px;
    }
    .address {
        width: 287px;
        font-size: 16px;
        
    }

    .cart {
        width: 105px;
    }

    
}

img.logo {
    margin-right: auto;
    height: 36px;
}

@media only screen and (max-width: 1160px) {
    .cart {
        padding-right: 23px;
    }
}

@media only screen and (max-width: 1190px) {
    .header{
        margin: 0;
        width: 960px;
        height: 90px;
    }

    .address {
        width: 265px;
    }
}


@media only screen and (max-width: 1160px) {
    .cart {
        padding-right: 23px;
    }

    .user_profile {
        padding-right: 23px;
    }
}

@media only screen and (max-width: 1160px) {
    .header_elements {
        grid-column-gap: 10px;
    }

    .search_bar {
        width: 290px;
    }

    .search_box{
        width: 183px;
    }

    .address {
        width: 245px;
    }


    .cart {
        padding-right: 20px;
    }

    .user_profile {
        padding-right: 20px;
    }
}